<manifest package="com.fitbit.remoteapi"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <application>
        <activity android:name=".RemoteApiActivity">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
