<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.fitbit.goldengatehost"
    android:versionCode="1"
    android:versionName="1.0"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="false"/>

    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false" />

    <application
            android:name=".GoldenGateHostApplication"
            android:allowBackup="true"
            android:icon="@mipmap/jiji"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme"
            tools:ignore="LockedOrientationActivity">
        <activity android:name=".SetupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".coap.BsdCoapActivity"
                android:label="@string/title_activity_bsd_coap"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".BlastActivity"
                android:label="@string/title_activity_blast"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".CoapActivity"
                android:label="@string/title_activity_coap"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.fitbit.linkcontroller.ui.LinkControllerActivity"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".scan.ScanActivity"
                android:label="@string/title_activity_scan"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
